* {
  box-sizing: border-box;
}
body {
  max-width: 1900px;
  min-width: 300px;
  display: flex;
  height: auto;
  flex-direction: column;
  margin: auto;
  padding: 0 20px 0 20px;
  font-size: 18px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
}
.header {
  padding-top: 80px;
}
.header,
.footer {
  background: #fff;
  color: rgb(0, 0, 0);
  width: 100%;
  margin: auto;
}
h6 {
  font-style: normal;
  font-weight: 200;
}
.nav,
.footer-nav,
.main {
  width: auto;
  margin: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sup_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main {
  flex: 1;
  padding: 25px;
}

.flex {
  display: flex;
}

.flex-item {
  padding: 12px;
  padding-top: 70px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.flex-item:hover {
  color: #0065fc;
  padding-top: 68px;
  border-top: 2px solid #0065fc;
  transition: border-color 400ms ease-out;
}
@media all and (min-width: 300px) and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
  }
  .sup_title {
    display: flex;
    flex-direction: row;
  }
  .flex-item-menu {
    width: 50%;
  }
  #left {
    display: flex;
    justify-content: center;
    padding-top: 35px;
  }
  #right {
    display: flex;
    justify-content: center;
    padding-top: 35px;
  }
  .flex-item {
    display: flex;
  }
  .flex-item:hover {
    color: #0065fc;
    padding-bottom: 10px;
    border-bottom: 2px solid #0065fc;
    transition: border-color 400ms ease-out;
    border-top: none;
    padding-top: 0;
  }
}
.flex-item-footer {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.flex-item-footer:hover {
  color: #0065fc;
  transition: border-color 400ms ease-out;
}
.flex-item.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  border-top: 5px solid #0065fc;
}

.flex-item.home a {
  border: none;
}
.wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
.search {
  display: flex;
  height: 50px;
  padding: 5px;
}
.searchTerm {
  width: 250px;
  border: 2px solid #f2f2f2;
  border-right: none;

  height: 50px;
  border-radius: 0 0 0 0;
  outline: none;
  font-weight: bold;
}

.searchTerm:focus {
  color: #380136;
}
.search-button {
  width: 120px;
  height: 50px;
  border: 1px solid #f2f2f2;
  background: #0065fc;
  text-align: center;
  color: #eeeeee;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  padding-right: 5px;
  padding-left: 5px;
  font-size: medium;
}
.search-button-1 {
  width: 40px;
  height: 50px;
  background: #f2f2f2;
  text-align: center;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  border: none;
}
.loupe {
  display: none;
}
@media all and (min-width: 300px) and (max-width: 768px) {
  .searchTerm {
    width: 70%;
  }
  .search-button {
    display: none;
  }
  .loupe {
    display: block;
    width: 20%;
    height: 50px;
    background: #0065fc;
    color: #f2f2f2;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    border: none;
  }
  .logo-mobile {
    display: flex;
    justify-content: center;
  }
}
@media all and (min-width: 300px) and (max-width: 400px) {
  .search {
    width: 100%;
    display: flex;
  }
}
@media all and (min-width: 401px) and (max-width: 768px) {
  .search {
    width: 80%;
    display: flex;
  }
}
/* Filtre items */

.filtre {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.filtre-title {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.filtre-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.filtre-items-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: auto;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  margin-right: 20px;
  cursor: pointer;
  font-weight: 700;
  -webkit-filter: grayscale(0) blur(0px);
  filter: grayscale(0) blur(0px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.filtre-items-icon:hover {
  font-weight: 500;
  border: none;
  background-color: rgba(0, 101, 252, 0.579);
  box-shadow: 2px 2px 6px rgb(0, 101, 252);
  -webkit-box-shadow: 2px 2px 6px rgb(0, 101, 252);
  -moz-box-shadow: 2px 2px 6px rgb(0, 101, 252);
  border-radius: 50%; /* on arrondit l'image */
  -webkit-transform: rotate(360deg); /* rotation de l'image */
  transform: rotate(360deg);
}
.filtre-icon {
  display: inline-block;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  background-color: #deebff;
  color: #0065fc;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  overflow-y: visible;
}
#un {
  position: relative;
  right: 5px;
}
#deux {
  position: relative;
  right: 5px;
}
#trois {
  position: relative;
  right: 5px;
}
#quatres {
  position: relative;
  right: 5px;
}
@media all and (min-width: 280px) and (max-width: 768px) {
  .filtre-items {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: flex-start;
    flex-direction: column;
  }
  .filtre-items-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: auto;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    margin-right: 20px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .filtre {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
  .logo-booki {
    width: 191px;
    height: 90px;
  }
}

.filtre-items-text {
  padding-left: 10px;
  padding-right: 15px;
  justify-content: space-between;
  align-items: center;
}
.title-info-circle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.circle {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
}
.info {
  padding-left: 10px;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
}
.hebergements-et-populaires {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 10px;
}

.hebergements {
  display: flex;
  flex: 1 1 25%;
  max-width: 70%;
  flex-direction: column;
  place-content: center space-between;
  align-items: stretch;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(240, 240, 240, 0.63);
  border-radius: 30px;
  margin-right: 20px;
  justify-content: space-evenly;
}
.hebergements-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: stretch;
  flex-direction: row;
  height: 75%;
}
.hebergements-items {
  display: flex;
  flex: 25%;
  max-width: 30%;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 30px;
  border-color: #f2f2f287;
  border-style: ridge;
  border: 4px;
  margin: 10px;
  box-shadow: 0px 5px 20px #999;
}
.hebergements-items:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 10px rgba(52, 63, 165, 0.5);
}
.hebergements-titre {
  display: flex;
  padding-left: 5%;
}

.hebergements-lien {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 60%;
  object-fit: fill;
  padding-bottom: 2%;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-around;
  padding: 5px;
  text-align: left;
}

.hebergement-photo {
  width: 100%;
  height: 100%;
  image-resolution: initial;
  overflow: hidden;
  border-radius: 30px 0 0;
  object-fit: fill;
}
.rating {
  display: flex;
  max-height: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
h4,
h5,
h6 {
  margin: 0;
}
p {
  color: #aaa;
}
.blue-star {
  color: #0065fc;
}
#sous-titres-populaires-1,
#sous-titres-populaires-2,
#sous-titres-populaires-3 {
  padding-top: 5%;
}
.hebergements-pied-de-page {
  padding-left: 50px;
}
.populaires {
  display: flex;
  flex: 25%;
  max-width: 30%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(240, 240, 240, 0.63);
  border-radius: 30px;
  align-content: flex-start;
}
.populaires-all {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.populaires-titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: larger;
}
.populaires-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  align-content: flex-start;
  align-items: stretch;
  width: 55%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.populaires-items:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 10px rgba(52, 63, 165, 0.5);
}
.populaires-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 80px;
}

.populaires-lien {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.populaires-items {
  display: flex;
  flex: 100%;
  max-width: 90%;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 30px;
  border-color: #f2f2f287;
  border-style: ridge;
  border: 4px;
  margin: 20px;
  box-shadow: 0px 5px 20px #999;
}

.responsive.right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
  border-radius: 30px 0 0 30px;
  padding-right: 15px;
  width: 45%;
  height: 100%;
  object-fit: fill;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 1200px) {
  .hebergements-items {
    display: flex;
    flex: 50%;
    max-width: 35%;
  }
  .hebergements-all {
    max-height: fit-content;
  }
  .hebergements {
    display: flex;
    flex: 25%;
    max-width: 60%;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(240, 240, 240, 0.63);
    border-radius: 30px;
    margin-right: 20px;
  }
  .populaires {
    display: flex;
    flex: 25%;
    max-width: 40%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(240, 240, 240, 0.63);
    border-radius: 30px;
    align-content: flex-start;
  }
}
@media (max-width: 992px) {
  .hebergements-items {
    display: flex;
    flex: 50%;
    max-width: 40%;
  }
  .hebergements-et-populaires {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hebergements {
    display: flex;
    max-width: 100%;
    margin-right: 0;
  }
  .populaires {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(240, 240, 240, 0.63);
    border-radius: 30px;
    align-content: flex-start;
  }

  .populaires-titre {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media all and (min-width: 700px) and (max-width: 992px) {
  .textes-populaires {
    font-size: xx-large;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
  .hebergements-et-populaires {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .hebergements {
    display: flex;
    max-width: 100%;
  }
  h6 {
    font-weight: 500;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  .hebergements-items {
    display: flex;
    flex: 100%;
    max-width: 100%;
  }
  .hebergements {
    display: flex;
    max-width: 95%;
  }
  #sous-titres-hebergement-mobile-1,
  #sous-titres-hebergement-mobile-2,
  #sous-titres-hebergement-mobile-3,
  #sous-titres-hebergement-mobile-4,
  #sous-titres-hebergement-mobile-5,
  #sous-titres-hebergement-mobile-6 {
    font-size: large;
  }
  h6 {
    font-weight: 500;
  }
}
@media (max-width: 600px) {
  #sous-titres-hebergement-mobile-1,
  #sous-titres-hebergement-mobile-2,
  #sous-titres-hebergement-mobile-3,
  #sous-titres-hebergement-mobile-4,
  #sous-titres-hebergement-mobile-5,
  #sous-titres-hebergement-mobile-6 {
    font-size: x-large;
  }
  h6 {
    font-size: larger;
  }
}
@media (max-width: 500px) {
  .textes-populaires {
    font-size: 19px;
  }
  #id-titre-populaires {
    width: 90%;
  }
  .populaires-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 40px;
  }
  .hebergements-et-populaires {
    flex-wrap: nowrap;
    margin: 0px;
  }
  #sous-titres-hebergement-mobile-1,
  #sous-titres-hebergement-mobile-2,
  #sous-titres-hebergement-mobile-3,
  #sous-titres-hebergement-mobile-4,
  #sous-titres-hebergement-mobile-5,
  #sous-titres-hebergement-mobile-6 {
    font-size: x-large;
  }
  h6 {
    font-size: larger;
  }
}
/* ----------------------------------- */
.activites-titre {
  padding-left: 25px;
}
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 10px;
}

/* Create four equal columns that sits next to each other */
.column_1 {
  display: flex;
  flex: 25%;
  max-width: 25%;
  flex-direction: column;
  justify-content: space-between;
}
.column {
  display: flex;
  flex: 25%;
  max-width: 25%;
}
.vieux-port,
.parc-nationale-des-calanques {
  background-color: #ffffff;
  border-radius: 30px;
  border-color: #ffffff87;
  border-style: ridge;
  border: 4px;
  box-shadow: 0px 5px 20px #999;
  margin: 20px;
}
/*
.vieux-port :hover {
  transform: scale(1.1);
}
*/
.image-ltr-1,
.image-ltr-4 {
  display: flex;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 90%;
  object-fit: fill;
}
.fort-de-pomegues,
.iles-du-frioul,
.notre-dame-de-la-garde,
.parc-longchamp {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 30px;
  border-color: #ffffff87;
  border-style: ridge;
  border: 4px;
  box-shadow: 0px 5px 20px #999;
  margin: 20px;
}
.vieux-port:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 10px rgba(52, 63, 165, 0.5);
}
.parc-nationale-des-calanques:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 10px rgba(52, 63, 165, 0.5);
}
.fort-de-pomegues:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 10px rgba(52, 63, 165, 0.5);
}
.iles-du-frioul:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 10px rgba(52, 63, 165, 0.5);
}
.notre-dame-de-la-garde:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 10px rgba(52, 63, 165, 0.5);
}
.parc-longchamp:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 10px rgba(52, 63, 165, 0.5);
}
.image-ltr-5,
.image-ltr-2,
.image-ltr-6,
.image-ltr-3 {
  display: flex;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 90%;
  object-fit: fill;
}

#vieux-port-photo,
#fort-de-pomegues-photo,
#iles-du-frioul-photo,
#parc-national-des-calanques-photo,
#notre-dame-de-la-garde-photo,
#parc-longchamp-photo {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#mobile_vieux-port-photo,
#mobile_fort-de-pomegues-photo,
#mobile_iles-du-frioul-photo,
#mobile_parc-national-des-calanques-photo,
#mobile_notre-dame-de-la-garde-photo,
#mobile_parc-longchamp-photo {
  display: none;
}
.titre-ltr-1,
.titre-ltr-4,
.titre-ltr-2,
.titre-ltr-3,
.titre-ltr-5,
.titre-ltr-6 {
  display: flex;
  width: 100%;
  height: 10%;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 20px;
  justify-content: left;
  align-items: center;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 20px;
  background-color: #f2f2f287;
}
.footer-a-propos,
.footer-nos-hebergements,
.footer-assistance {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 25px;
  padding-right: 250px;
}
.titre-1-1,
.titre-2-1,
.titre-3-1 {
  padding-bottom: 10px;
}
.footer-mobile {
  display: none;
}

@media all and (min-width: 300px) and (max-width: 768px) {
  .footer {
    display: none;
  }
  .footer-mobile {
    display: contents;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #f2f2f287;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
  }
  .footer-a-propos,
  .footer-nos-hebergements,
  .footer-assistance {
    line-height: 30px;
    padding-right: 0;
  }
  .titre-1-1,
  .titre-2-1,
  .titre-3-1 {
    padding-bottom: 5px;
    padding-top: 5px;
  }
}
@media (max-width: 992px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .column_1 {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    flex-direction: column;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column_1 {
    flex: 100%;
    max-width: 100%;
  }
  #vieux-port-photo,
  #fort-de-pomegues-photo,
  #iles-du-frioul-photo,
  #parc-national-des-calanques-photo,
  #notre-dame-de-la-garde-photo,
  #parc-longchamp-photo {
    display: none;
  }
  #mobile_vieux-port-photo,
  #mobile_fort-de-pomegues-photo,
  #mobile_iles-du-frioul-photo,
  #mobile_parc-national-des-calanques-photo,
  #mobile_notre-dame-de-la-garde-photo,
  #mobile_parc-longchamp-photo {
    display: flex;
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  .titre-ltr-1,
  .titre-ltr-4 {
    display: flex;
    width: 100%;
    height: 10%;
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 20px;
    justify-content: left;
    align-items: center;
  }
  .hebergements-et-populaires {
    display: flex;
    flex: 25%;
  }
  .titre-ltr-1,
  .titre-ltr-4,
  .titre-ltr-2,
  .titre-ltr-3,
  .titre-ltr-5,
  .titre-ltr-6 {
    font-size: larger;
  }
}
